#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig LIBBL602_ADC
	bool "Semtech BL602_ADC Library"
	default n
	---help---
		Enable build for Semtech BL602_ADC functions

if LIBBL602_ADC

config LIBBL602_ADC_DEBUG
	bool "Libbl602_adc debugging"
	default n
	---help---
		Enable debugging for libbl602_adc

config LIBBL602_ADC_PRECISION
	int "Libbl602_adc precision [0/1/2]"
	default 0

config LIBBL602_ADC_FOC_VABC
	bool "Libbl602_adc FOC includes voltage abc frame"

endif # LIBBL602_ADC
